@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Kablammo&family=Lato:wght@300;400;900&family=New+Tegomin&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,300&family=Oxanium:wght@200;400;800&family=Poppins:wght@200;400;900&family=Reenie+Beanie&family=Righteous&display=swap');

	* { 
		margin: 0;
		padding: 0;
		font-family: "Righteous", sans-serif;
		box-sizing: border-box; 
	  }
	body { 
		background: #222;
		height: 100%;
		color: #fff;	
		font-size: 18px;      
	  }
	.container {
		display: flex;
		flex-direction: column;
		margin: 60px;
		border: thick double #f75475;
		border-radius: 20px;
		padding-bottom: 30px;
		transition: opacity 0.5s ease-in-out;
	}

	.fadeOut {
		opacity: 0;
	}
	header {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 150px;
		width: 100%;
	}

	.links {
		position: relative;
    	font-size: 1.2em;
    	color: rgb(247, 84, 117);
    	text-decoration: none;
    	font-weight: 500;
    	margin-left: 40px;
	}

	.links:hover {
		color: #fff;
		transition: 1s ease-in-out;
	}

	main {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#aboutMe {
		flex-direction: column;
	}

	#aboutMe h1 {
		padding-bottom: 50px;
	}

	img {
		height: 500px;
		width: 500px;
		border-radius: 50%;
		position: relative;
		z-index: -1;
	}

	#helloWorld {
		position: absolute;
		right: 600px;
		bottom: 150px;
		font-size: 100px;
		max-width: 100px;	
	}

	#p {
		font-size: 1.5rem;
		text-align: justify;
		max-width: 50%;
		padding-bottom: 20px;
	}

	#mainProjects {
		flex-direction: column;
	}

	#mainDegree {
		flex-direction: column;
		text-align: left;
	}

	.card {
		display: flex;
		flex-direction: column;
		max-width: 50% !important;
		margin-top: 30px;
		height: 25%;
		width: 500px;
		padding: 40px;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.829);
		border-radius: 20px;
	}

	.card:hover {
		transform: scale(1.05) translateY(-10px);
		border:  1px solid#f75475;
		transition: all .3s ease;
	}

	.card:hover h4 {
		color: #f75475;
		transition: all .3s ease;
	}

	.projects {
		display: flex;
	}
	.projetos {
		height: 200px;
		width: 250px;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.829);
		border-radius: 20px;
		padding: 20px;
		margin: 20px;
		color: rgb(221, 217, 218);
		background: transparent;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.projetos:hover {
		transform: scale(1.05) translateY(-10px);
		color: #f75475;
		border:  1px solid#f75475;
		cursor: pointer;
		transition: all .3s ease;
	}

	a {
		text-decoration: none;
		color: #f75475;
	}
	
	.mainContact {
		flex-direction: column;
	}

	.contact form {
		padding: 20px 0 20px 0;
		display: flex;
		flex-direction: column;
	}

	.inputName, .inputEmail{
		position: relative;
	}

	.contact input { 
		border: 0;
		outline: 0;
		background: transparent;
		/*backdrop-filter: blur(20px);*/
		color: #fff;
		padding: 10px 25px;
		height: 60px;
		border-bottom: 2px solid #f75475;
		flex: 1;
		font-size: 18px;
	}

	.contact input::placeholder {
		color: #ddd;
	}

	.contact label {
		position: absolute;
		top: 30%;
		left: 5px;
		transform: translateY(-30%);
		font-size: 1rem;
		color: #ffffff;
		font-weight: 500;
		pointer-events: none;
		transition: .5s;
	}
	.contact input {
		color: #fff;
		margin: 20px;
		background: transparent;
		font-size: 20px;
		height: 60px;
		width: 100%;
		padding: 20px;
		border: none;
		outline: none;
		border-bottom: 2px solid #f75475;
	}

	.contact input:focus~label,
	.contact input:valid~label {
		top: -5px;
		color: #f75475;
		transition: 500ms;
	}

	#btnContact {
		margin: 20px 0 20px 0;
		height: 50px;
		width: 100px;
		border-radius: 10px;
		background-color: #f75475;
		cursor: pointer;
	}

	.msg {
		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content: center;
		margin-left: 35px;
	}

	.msg textarea{
		border-radius: 10px;
		padding: 10px;
		border: 2px solid #f75475;
		background: transparent;
	}

	footer {
		position: absolute;
		right: 150px;
		bottom: 30px;
		background: #222;
		padding-right: 40px;
	}

